.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 767px) {
  form {
    flex-direction: column;
    gap: 5px;
  }
  .submit-button {
    width: 100%;
    padding: 10px;
  }
  .hero-section {
    height: 50vh;
  }
}