/* Improved mobile responsiveness */

@media only screen and (max-width: 600px) {  
    body {  
        font-size: 14px;  
        margin: 0;  
        padding: 0;  
    }  
    .grid-container {  
        display: flex;  
        flex-direction: column;  
        width: 100%;  
    }  
    .grid-item {  
        padding: 10px;  
        width: 100%;  
        margin: 0;  
        box-sizing: border-box;  
    }  
    .btn {  
        width: 100%;  
        padding: 15px;  
        font-size: 16px;  
        margin-top: 10px;  
    }
}